<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="ff4j" class="org.ff4j.FF4j">
		<property name="featureStore" ref="ff4j.store.inmemory" />
	</bean>

	<bean id="ff4j.store.inmemory" class="org.ff4j.store.InMemoryFeatureStore">
		<!-- <property name="fileName" value="ff4j.xml" /> -->
		<constructor-arg value="ff4j.xml"/>
	</bean>

</beans>